.search-container {
  background-color: #2b2b2b;
  padding: 20px;
  position: absolute;
  top: 8%;
  left: 25%;
  right: 25%;
  
}

.search-container label {
  font-size: 18px;
  margin-right: 10px;
  color: #ffffff;
}

.search-container input[type="text"] {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 25px;
  margin-right: 25px;
  border: none;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #4c4c4c;
  color: #ffffff;
  cursor: pointer;
}

.content {
  margin-top: 120px;
}